$bgcolor: #390b44;
$white: #fff;
$button: #C1C8E4;

nav {
    background-color: $bgcolor;
    padding: 15px;
    color: $white;  
    height: 100vh;

    img {
        width: 130px; 
    }
}

div{
    display: flex;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width:100%;
    float: left;

    aside {
        width: 200px;
        float: left;
        position: fixed;
        left: 0;
        top: 0;
    }

    main {
        float: left;
        width: calc(100% - 200px);

        header{
            height: 70px;
        }

        section {
            width: 100%;
            position: fixed;
            top: 70px;
            right:0;
            left: 200px;
            display: flex;
            flex-direction: column;
            text-align: left;
            padding: 20px;

            .bord_bot {
                border-bottom: 1px solid #eee;
                padding-bottom: 15px;
                margin-bottom: 0;
            }
        }
    }
}

