$bgcolor: #390b44;
$white: #fff;
$button: #C1C8E4;

nav {
    background-color: $bgcolor;
    padding: 15px;
    color: $white;  
    height: 100vh;

    img {
        width: 130px; 
    }

    .menu_list {
        list-style-type: none;
        padding-right: 40px;
    }
}

div{
    display: flex;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    width:100%;
    float: left;

    aside {
        width: 200px;
        float: left;
        position: fixed;
        left: 0;
        top: 0;
    }

    main {
        float: left;
        width: calc(100% - 200px);

        header{
            height: 70px;
        }

        #Background {
            height: calc(100% - 70px);
            background-color: #eee;
            width: 100%;
            position: fixed;
            top: 70px;
            right:0;
            left: 200px;
        }

        div.Clear {
            background-image: url('../assets/images/weather/clear.jpg');
            background-repeat: no-repeat;
            opacity: 90%;
            background-size: cover;
        }
        div.Clouds {
            background-image: url('../assets/images/weather/clouds.jpg');
            background-repeat: no-repeat;
            opacity: 90%;
            background-size: cover;
        }
        div.Snow {
            background-image: url('../assets/images/weather/snow.jpg');
            background-repeat: no-repeat;
            opacity: 90%;
            background-size: cover;
        }

        div.Rain{
            background-image: url('../assets/images/weather/rain.jpg');
            background-repeat: no-repeat;
            opacity: 90%;
        }

        div.Drizzle{
            background-image: url('../assets/images/weather/drizzle.jpg');
            background-repeat: no-repeat;
            opacity: 90%;
        }

        div.Thunderstorm{
            background-image: url('../assets/images/weather/thunder.jpg');
            background-repeat: no-repeat;
            opacity: 90%;
        }

        div.Mist, div.Smoke, div.Haze, div.Dust, div.Fog, div.Sand, div.Dust, div.Ash, div.Squall, div.Tornado {
            background-image: url('../assets/images/weather/mist.jpg');
            background-repeat: no-repeat;
            opacity: 90%;
        }

        section {
            width: 100%;
            position: fixed;
            top: 70px;
            right:0;
            left: 200px;
            display: flex;
            flex-direction: column;
            text-align: left;
            padding: 20px;

            .bord_bot {
                border-bottom: 1px solid #eee;
                padding-bottom: 15px;
                margin-bottom: 0;
            }
        }
    }
}

.menu_item {
    text-decoration: none;
    color: white;
    font-size: 16px; 
}

.item_list {
    margin-bottom: 20px;
}



