@import "layout";
$btn-color: rgb(240, 112, 208);

button {
    background-color: $btn-color;
    color: $white;
    border: none;
    border-radius: 8px;
    padding: 10px 18px;
    margin: 18px 0;
    position: fixed;
    margin-left: 72vw;
    font-size: 14px;
}